body{
    background-color: #1F8ECD;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #465875
}

.navbar > label{
    font-size: 30px;
    color: white;
}

.navbar > div{
    float: right;
}

.glyphicon{
    display: inline-block;
    font-size: 25px;
    margin-bottom: -5px;
}

.SR-p{
    background-color: #2E0854;
    border-radius: 15px;
    margin: -10px -10px 0 0;
    padding: 5px 10px 2px 11px;
}

.SR-num, .SR-SR{
    font-weight: bold;
    vertical-align: text-top;
}

.SR-num{
    font-size: 24px;
    color: white;
}

.SR-SR{
    font-size: 17px;
    color: #9A32CD;
    padding-left: 7.5px;
}

.bt-container, .SR-p{
    display: inline;
    float: left;
}

.img-container{
    position: relative;
    margin: -45px -20px 0 0;
    float: left;
}

.img-container .player-icon{
    border-radius: 25px;
}

.img-container .player-portrait{
    margin-left: -113px;
    z-index: 1;
}

img.star{
    display: inline;
    margin: -40px 0 0 0;
}

.bt-name{
    font-size: 24px;
    font-weight: bold;
}

.bt-level{
    font-size: 20px;
    padding-left: 12px;
}            

.header-container-top{
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.header-container-left, .header-container-right{
    background-color: aliceblue;
    border: 2.5px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 5px #333333;
}

.header-container-left{
    display: inline-block;
    padding: 17.5px 15px  0 15px;
    width: 100%;
}

.header-container-left > div{
    display: inline-block;
    float: left;
}

.header-container-right{
    display: inline-block;
    padding: 10px 20px;
}

.header-container-right > span{
    font-weight: bold;
}

.col{
    display: inline-block; float: left; margin: 0 10px;
}

.col:nth-child(3) {
    margin-left: 50px;
}

.hero-card{
    border: .5px solid grey;
    border-radius: 5px;
    box-shadow: 0 5px 10px #333333;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 15px 5px 0;
}

.hero-card{
    background-color: #EAEAEA;
}

.hero-card-left{
    float: left;
    height: 100%;
    text-align: center;
}

.hero-card-right{
    display: inline-block;
    padding: 10px 5px 5px 5px;
}


.hero-card img {
    box-shadow: 0px 8px 10px #aaa;
    border-left: 2px solid #2E0854;
    border-bottom: 2px solid #2E0854;
    border-radius: 5px;
}

.hero-card h2{
    margin: 205px 5px 0 5px;
    min-width: 175px;
}

.hero-card hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
    margin: 0;
}

.special{
    display: inline-block;
    width: 200px;
    text-align: right;
}

.right{
    padding-left: 10px;
}

.stat-label{
    color: #555e5e;
    font-weight: bold;
}