<!-- index.html-->

{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block body %}
<img src="http://mms.businesswire.com/media/20160602006554/en/528252/5/2496424_Overwatch_Logo.jpg" style="max-height: 200px; border: 5px solid green;">
<!-- <img src="https://pbs.twimg.com/media/CNf47UZWUAAWefF.jpg"> -->
<p></p>
<form action='/lookup' method='get'>
  <h1>Overwatch Player Search</h1>
 
  <section>
	<h3>Enter your Blizzard name and Battlenet id below</h3>
    <!-- <h2>Player information</h2> -->
    <p>
      <label>
        <span>Battlnet Name: </span>
        <input type="text" id="name" name="first_name" required autocomplete="off"/>
        <strong><abbr title="required">*</abbr></strong>
      </label>
    </p>
    
     <p>
      <label>
        <span>Battlent ID: </span>
        <input type="text" id="mail" name="last_name" required pattern="[0-9]{4,5}$" maxlength="5" size="5" autocomplete="off">
        <strong><abbr title="required">*</abbr></strong>
  			</label>
		</p>
	</section>
 
	<section>
	<p><strong><abbr title="required">*</abbr></strong>Required fields</p>
	<p>
      <button>Look up player</button>
    </p>
  </section>
</form>
<p>
</form>
{% endblock %}
